*{
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.footer {
  margin-top: 61.5vh;
  display: flex;
  justify-content: space-around;
  padding: 2%;
  border-radius: 5%;
  color: navy;
}

.header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  line-height: 3;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 2%;
}

a {
  text-decoration: none;
}

.description {
  background-color: rgb(237, 247, 253);
  color: navy;
  margin: 10%;
  display: flex;
  justify-content: space-around;
  padding: 2%;
}

p{
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.challenge-name{
  margin-bottom: 4vmin;
  margin-top: 7vmin;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: navy;
}

.home-logo{
  height: 400px;
  width: 400px;
}